{% extends "base.html.twig" %}

{% block body %}

{{form_start(form)}}
{{ form_row(form.username)}}
{{ form_row(form.email)}}

{{ form_row(form.fileImage, {'required': 'false'}) }}
<button class="btn btn-warning">modify</button>
{{form_end(form)}}
{% endblock body %}