{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-warning">Sign up</button>
        {{form_end(form)}}
    </div>
</div>
{% endblock body %}