{% extends "base.html.twig" %}

{% block body %}

{% if errors %}
    <div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="POST">
    <label for="username">Username :</label>
    <input type="username" name="_username" id="username" value="{{username}}">
    <label for="password">Password :</label>
    <input type="password" name="_password" id="password">
    <button class="btn btn-info">Login</button>
</form>

{% endblock body %}
