<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset ("style/style.css") }}">
  <title>{% block title %}Bienvenue !{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="">
      <style>
        body {
          background-image: url(https://s1.qwant.com/thumbr/700x0/8/6/5e46b9cc4a5d398eaee086440f79a5b8e49013769e607b3ff804a7de149235/3907.jpg?u=https%3A%2F%2Fwww.artedomus.com%2Fimages%2F3907.jpg&q=0&b=1&p=0&a=1);
          background-size: cover;
        }

        h1 {
          color: rgb(255, 255, 255);
        }

        .example-wrapper {
          margin: 1em auto;
          max-width: 800px;
          width: 95%;
          font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
          background: #F5F5F5;
          padding: 2px 6px;
        }
      </style>

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ path('accueil') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
            </li>
            {% else %}

            <li class="nav-item active">
              <a class="nav-link" href="{{ path('register') }}">Inscription<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('login') }}">Connexion</a>
            </li>
            {% endif %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Mon compte
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {# <a class="dropdown-item" href="{{ path('favoris')}}">Mes favoris</a> #}
                {% if app.user %}
                {# <a class="dropdown-item" href="{{ path('panier', {user: app.user.id}) }}">Mon panier</a> #}
                {% endif %}
                <a class="dropdown-item" href="{{ path('compte')}}">Mon profil</a>
              </div>
            </li>
            <li class="nav-item">
            </li>
          </ul>
          {# rajoute une action avec dedans un path vers la route qui gère la recherche #}
          {# <form class="form-inline my-2 my-lg-0" action="{{path('search')}}"> #}
          {# rajouter un name #}
          <input name="search" class="form-control mr-sm-2" type="search" placeholder="chargement de la game..."
            aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 search" type="submit">Rechercher</button>
          </form>
        </div>
      </nav>

      {% block body %}


      {% endblock %}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  {% block javascripts %}{% endblock %}
</body>

</html>