{% extends "base.html.twig" %}

{% block body %}

<h1>salutatoi {{app.user.username}} bienvenue dans ton auberge !!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="card m-4 col-4">
            <img src="{{app.user.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                {# <h5 class="card-title">Nom: {{app.user.name}} <br> Prenom: {{app.user.firstName}}</h5> #}
                <p class="card-text">Email: {{app.user.email}}</p>
                {# <p class="card-text">Adresse: {{app.user.address}}</p> #}
                {# <p class="card-text">Telephone: {{app.user.phoneNumber}}</p> #}
                <a href="#" class="btn btn-primary">Infos</a>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="{{ path('modify', {user: app.user.id}) }}" class="btn btn-warning col-3"> modifier votre compte</a>
        <a href="{{ path('modifyMdp', {user: app.user.id}) }}" class="btn btn-danger col-3"> changer de mot de
            passe</a>
    </div>
    {% endblock body %}